.App{
  text-align: left;
  background-color: #BBB6B5;
  color: #161616;
  font-family: 'Courier';
  display:flex;
  flex-direction: column;
}

.RecordPanel {
  display:flex;
  flex-direction:row;
  text-align: center;
  background-color: #9D9998;
  color: #161616;
}

.RecordStatus {
  font-size:12px;
  margin:40px 30px 30px 30px;
}

.RecordButtons {
  margin: 10px 20px 10px 20px;
  background-color: #9D9998;
  color: #FFF456;
  display:flex;
  flex-direction:column;
  width: 60px;
}
.Dropdown-root {
  font-size: 10px;
  font-family: 'Arial';
  width:100px;
  margin-top:30px;
}

.recStart {
  width: 35px;
	height: 35px;
	font-size: 0;
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.recStart.READY {
  background-color: #00FF00;
}

.recStart.RECORDING {
  background-color: #FF0000;
}

.recStart.TRANSCRIPT_IN_PROGRESS {
  background-color: #FFFF00;
}

.recStart.TRANSCRIPT_COMPLETE {
  background-color: #00FF00;
}

.TranscriptPanel {
  display:flex;
  flex-direction:row;
}

.transcripts {
  margin: 5px 20px 5px 20px;
  background-color: #FFFFFF;
  width:90%;
  display:flex;
  flex-direction: column;
}

.transcriptPart {
  margin: 10px 30px 10px 30px;
  padding: 10px 30px 10px 30px;
  color:#0F0F0F;
  font-family: 'Arial';
  font-size: 12px;
}

.transcriptPart.edit {
  background-color: #F1F2F3;
}

.transcriptEdit {
  margin: 20px 20px 10px 20px;
  background-color: #CFC8C8;
  width:40%;
}

.transcriptsEditTxt {
  margin: 30px 30px 30px 30px;
  border-radius: 25px;
  width:400px;
  height:70px;
}

.editor {
  height:600px;
  margin: 20px 10px 20px 10px;
}
