.App {
  text-align: left;
  background-color: #000067;
  color: #AADD89;
  font-family: 'Courier';
}

.RecordPanel {
  text-align: center;
  background-color: #000056;
  color: #AADD89;
}

.RecordButtons {
  background-color: #000042;
  color: #FFF456;
}

.transcript_part {
  padding: 10px 30px 10px 30px;
  border-style:solid;
  border-width: 1px 1px 0px 1px;
  border-color: #0F0F0F;
  background-color: #FAFFFA;
  color:#0F0F0F;
  font-family: 'Arial';
  font-size: 12px;
}

.transcript_part.edit {
  display:none;
}
